@import "tailwindcss";

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

html {
  scroll-behavior: smooth;
}


body {
  @apply bg-black text-white font-sans;
}
